Project/flows_finish.json
[
    {
        "id": "947cbb4d10e17602",
        "type": "tab",
        "label": "show value",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2701b5701f2af659",
        "type": "tab",
        "label": "set time to feed",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac9a0b34c2a87141",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f739b50a5919ade",
        "type": "mqtt-broker",
        "name": "temp",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "394e7d743fe09443",
        "type": "ui_tab",
        "name": "Show Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ef35dd1f8bcaa2ce",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#000ecc",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "945270cc7c6b5e9d",
        "type": "ui_group",
        "name": "Time",
        "tab": "394e7d743fe09443",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": "timee"
    },
    {
        "id": "45df438ee2fa8bdd",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "394e7d743fe09443",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": "pressure"
    },
    {
        "id": "b03530f184fd2ebc",
        "type": "ui_group",
        "name": "Set time to feed",
        "tab": "3f08418f07ba4f69",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": "settime"
    },
    {
        "id": "bbd1d5e2e69574d4",
        "type": "mqtt-broker",
        "name": "hiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f08418f07ba4f69",
        "type": "ui_tab",
        "name": "Set time to feed",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e76d5bea44a9c901",
        "type": "ui_spacer",
        "z": "947cbb4d10e17602",
        "name": "spacer",
        "group": "b1d8ca1e964d899c",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "da2d247c94d63861",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "394e7d743fe09443",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": "tempe"
    },
    {
        "id": "374ffb4bc874d74c",
        "type": "ui_spacer",
        "z": "947cbb4d10e17602",
        "name": "spacer",
        "group": "da2d247c94d63861",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "3c2ac3b65a2f1f2c",
        "type": "ui_spacer",
        "z": "947cbb4d10e17602",
        "name": "spacer",
        "group": "945270cc7c6b5e9d",
        "order": 1,
        "width": 9,
        "height": 1
    },
    {
        "id": "1fc0ba3c12f60843",
        "type": "ui_spacer",
        "z": "947cbb4d10e17602",
        "name": "spacer",
        "group": "45df438ee2fa8bdd",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "4e862660952c07f5",
        "type": "ui_spacer",
        "z": "2701b5701f2af659",
        "name": "spacer",
        "group": "b03530f184fd2ebc",
        "order": 1,
        "width": 16,
        "height": 1
    },
    {
        "id": "dab93a1ac0da92e3",
        "type": "ui_spacer",
        "z": "2701b5701f2af659",
        "name": "spacer",
        "group": "b03530f184fd2ebc",
        "order": 3,
        "width": 16,
        "height": 1
    },
    {
        "id": "a154b3f730025a88",
        "type": "ui_spacer",
        "z": "2701b5701f2af659",
        "name": "spacer",
        "group": "b03530f184fd2ebc",
        "order": 6,
        "width": 16,
        "height": 1
    },
    {
        "id": "ae2a5e556efae62e",
        "type": "ui_spacer",
        "z": "2701b5701f2af659",
        "name": "spacer",
        "group": "b03530f184fd2ebc",
        "order": 8,
        "width": 16,
        "height": 1
    },
    {
        "id": "88fb6cc09e52479b",
        "type": "mqtt in",
        "z": "947cbb4d10e17602",
        "name": "",
        "topic": "temp_amp_bew",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f739b50a5919ade",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "cc6e9488c36710fe",
                "e3047932577b8a0b"
            ]
        ]
    },
    {
        "id": "cc6e9488c36710fe",
        "type": "debug",
        "z": "947cbb4d10e17602",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e3047932577b8a0b",
        "type": "ui_gauge",
        "z": "947cbb4d10e17602",
        "name": "",
        "group": "da2d247c94d63861",
        "order": 3,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "",
        "label": "celcuis",
        "format": "{{value}}",
        "min": "20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 1360,
        "wires": []
    },
    {
        "id": "fd6a87886329ea38",
        "type": "ui_chart",
        "z": "947cbb4d10e17602",
        "name": "",
        "group": "45df438ee2fa8bdd",
        "order": 3,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "90000",
        "ymax": "101000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "790ebdbf8defbe8d",
        "type": "mqtt in",
        "z": "947cbb4d10e17602",
        "name": "",
        "topic": "pressure_amp_bew",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac9a0b34c2a87141",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "fd6a87886329ea38"
            ]
        ]
    },
    {
        "id": "a970a973e2c1564d",
        "type": "mqtt in",
        "z": "947cbb4d10e17602",
        "name": "",
        "topic": "time_amp_bew",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac9a0b34c2a87141",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 1540,
        "wires": [
            [
                "25522fb388a7b1b2",
                "a0b01c4e7101effb"
            ]
        ]
    },
    {
        "id": "25522fb388a7b1b2",
        "type": "debug",
        "z": "947cbb4d10e17602",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a0b01c4e7101effb",
        "type": "ui_text",
        "z": "947cbb4d10e17602",
        "group": "945270cc7c6b5e9d",
        "order": 3,
        "width": 9,
        "height": 2,
        "name": "",
        "label": "Now",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "nownow",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "22",
        "color": "#fcfdfd",
        "x": 710,
        "y": 1600,
        "wires": []
    },
    {
        "id": "26317569e6bba568",
        "type": "ui_template",
        "z": "947cbb4d10e17602",
        "group": "da2d247c94d63861",
        "name": "template temp",
        "order": 2,
        "width": 8,
        "height": 1,
        "format": "<style>\n    .tempe {\n        font-size: 40px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "edd93d8666d7d94f",
        "type": "ui_template",
        "z": "947cbb4d10e17602",
        "group": "945270cc7c6b5e9d",
        "name": "template time",
        "order": 2,
        "width": 9,
        "height": 1,
        "format": "<style>\n    .timee {\n        font-size: 40px;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "d78b953890f6d137",
        "type": "ui_template",
        "z": "947cbb4d10e17602",
        "group": "45df438ee2fa8bdd",
        "name": "template pressure",
        "order": 2,
        "width": 8,
        "height": 1,
        "format": "<style>\n    .pressure {\n        font-size: 40px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "62e8bb97dcad14f8",
        "type": "ui_text_input",
        "z": "2701b5701f2af659",
        "name": "",
        "label": "SELECT",
        "tooltip": "",
        "group": "b03530f184fd2ebc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "test_time",
        "sendOnBlur": true,
        "className": "s_time",
        "topicType": "str",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "fa3dc50a6e1a3ddb",
                "5279e3f178a3f4c2"
            ]
        ]
    },
    {
        "id": "fa3dc50a6e1a3ddb",
        "type": "function",
        "z": "2701b5701f2af659",
        "name": "function 1",
        "func": "if (msg.payload== \"0\") {\n    var timestamp = context.get('timestamp')||0;\n}\nelse {\n    context.set('timestamp', msg.payload);\n    return null;\n}\n\n//var timestamp = msg.payload; // รับ timestamp จาก msg.payload\nvar utcDate = new Date(parseInt(timestamp)); // แปลง timestamp เป็น object ของ Date ในโซนเวลา UTC\n// ปรับเวลาเพื่อให้เป็นเวลาในโซนเวลา \nvar gmtPlus7Date = new Date(utcDate.getTime() - (7 * 60 * 60 * 1000)); \n\n// ดึงข้อมูลวันที่และเวลาจาก object Date ของโซนเวลา \n\nvar hours = gmtPlus7Date.getHours().toString().padStart(2, '0');\nvar minutes = gmtPlus7Date.getMinutes().toString().padStart(2, '0');\nvar seconds = gmtPlus7Date.getSeconds().toString().padStart(2, '0');\n\n// สร้างข้อความในรูปแบบที่ต้องการ \nvar formattedTime = `${hours}.${minutes}.${seconds}`;\n\nmsg.payload = formattedTime; // กำหนดค่าใหม่ให้กับ msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "2ef32aaef3db4473",
                "1900505e579306db"
            ]
        ]
    },
    {
        "id": "2ef32aaef3db4473",
        "type": "debug",
        "z": "2701b5701f2af659",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "f7a320c12dd4e881",
        "type": "inject",
        "z": "2701b5701f2af659",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "test_time",
                "v": "null",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "62e8bb97dcad14f8"
            ]
        ]
    },
    {
        "id": "1900505e579306db",
        "type": "mqtt out",
        "z": "2701b5701f2af659",
        "name": "",
        "topic": "test_time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bbd1d5e2e69574d4",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "01b02c2540f37324",
        "type": "ui_button",
        "z": "2701b5701f2af659",
        "name": "",
        "group": "b03530f184fd2ebc",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alarm_add",
        "payload": "0",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "fa3dc50a6e1a3ddb",
                "5279e3f178a3f4c2"
            ]
        ]
    },
    {
        "id": "5c2608dd406ea50f",
        "type": "ui_text",
        "z": "2701b5701f2af659",
        "group": "b03530f184fd2ebc",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SET TIME",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "text",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "5279e3f178a3f4c2",
        "type": "function",
        "z": "2701b5701f2af659",
        "name": "function 2",
        "func": "if (msg.payload == \"0\") {\n    var timestamp = context.get('timestamp') || 0;\n} else {\n    context.set('timestamp', msg.payload);\n    return null;\n}\n\nvar utcDate = new Date(parseInt(timestamp)); // แปลง timestamp เป็น object ของ Date ในโซนเวลา UTC\nvar gmtPlus7Date = new Date(utcDate.getTime() - (7 * 60 * 60 * 1000)); // ปรับเวลาเพื่อให้เป็นเวลาในโซนเวลา GMT+7\n\nvar hours = gmtPlus7Date.getHours();\nvar minutes = gmtPlus7Date.getMinutes();\nvar seconds = gmtPlus7Date.getSeconds();\nvar ampm = hours >= 12 ? 'PM' : 'AM'; // กำหนด AM หรือ PM ตามเวลา\n\nhours = hours % 12;\nhours = hours ? hours : 12; // แปลงเวลาให้เป็นรูปแบบ 12 ชั่วโมง\n\nhours = hours.toString().padStart(2, '0');\nminutes = minutes.toString().padStart(2, '0');\nseconds = seconds.toString().padStart(2, '0');\n\nvar formattedTime = `${hours}:${minutes}:${seconds} ${ampm}`; // เพิ่ม AM PM ในข้อความที่ต้องการแสดงผล\n\nmsg.payload = formattedTime;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "5c2608dd406ea50f"
            ]
        ]
    },
    {
        "id": "57f4cd0763ed5efc",
        "type": "ui_template",
        "z": "2701b5701f2af659",
        "group": "b03530f184fd2ebc",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .s_time {\n        font-size: 24px;\n    }\n\n    .text {\n        font-size: 24px;\n    }\n\n    .settime {\n        font-size: 40px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c89ddeb1069f887a",
        "type": "mqtt in",
        "z": "2701b5701f2af659",
        "name": "",
        "topic": "time_amp_bew",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac9a0b34c2a87141",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "e699e4184495454d",
                "062b34986c86c12c"
            ]
        ]
    },
    {
        "id": "e699e4184495454d",
        "type": "debug",
        "z": "2701b5701f2af659",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "062b34986c86c12c",
        "type": "ui_text",
        "z": "2701b5701f2af659",
        "group": "b03530f184fd2ebc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "now",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "18",
        "color": "#fffafa",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "3bf78524a77120cd",
        "type": "ui_button",
        "z": "2701b5701f2af659",
        "name": "",
        "group": "b03530f184fd2ebc",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Feed Now",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "inbox",
        "payload": "feed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 820,
        "wires": [
            [
                "89f1f0873b0c6a2f"
            ]
        ]
    },
    {
        "id": "89f1f0873b0c6a2f",
        "type": "mqtt out",
        "z": "2701b5701f2af659",
        "name": "",
        "topic": "feed_now_amp_bew",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac9a0b34c2a87141",
        "x": 520,
        "y": 820,
        "wires": []
    }
]